@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap) format('Fira Code');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap) format('Fira Code');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap) format('Fira Code');
}

:root {
  font-family: 'Fira Code', monospace;
  color: white;
  background-color: black;
}

html, 
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}